{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-react-require",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "plugins": []
    }
  }
}
