$action-color: #0d8bff;
$hover-color: #dcebff;
$text-color: #444444;
$text-light-color: #707070;
$detail-color: #d9d9d9;
$detail-darker-color: #c4c4c4;
$background-color: #ffffff;
$background-darker-color: #fcfcf9;
$accent-color: #15cf8c;

$facebook-color: #415e9b;
$twitter-color: #1da1f3;
